* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-container {
  min-height: 100vh;
  background-image: linear-gradient(#d24a8e, #ff5d78, #ffc563);
}

.components-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Search Bar */
