@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.body-container {
  min-height: 100vh;
  background-image: linear-gradient(#d24a8e, #ff5d78, #ffc563);
}

.components-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

/* Search Bar */

.search-bar {
  width: 100%;
  padding: 10px 9px;
  margin-top: 40px;
  border-radius: 3px;
  outline: none;
  border: solid white;
  font-size: 0.9rem;
  font-style: italic;
}

::placeholder {
  color: #c7c7c7;
}

/* User Profile */
.userProfileContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  grid-gap: 10px;
  margin-bottom: 50px;
}

.eachUserContainer {
  background-color: white;
  border-radius: 3px;
  display: flex;
  padding: 10px;
}

.userDetails {
  margin-left: 10px;
}

.userId {
  padding-top: 4px;
  color: #818691;
  font-size: 0.9rem;
}

.userName {
  color: #585d64;
  font-size: 0.9rem;
  font-weight: 600;
}

@media (max-width: 840px) {
  .userProfileContainer {
    width: 100%;
  }

  .components-container {
    width: 87%;
  }
}

@media (max-width: 675px) {
  .components-container {
    width: 80%;
  }

  /* User Profile */
  .userProfileContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 430px) {
  .components-container {
    width: 84%;
  }
}

@media (max-width: 345px) {
  .components-container {
    width: 90%;
  }
}
